mixin timeline(articles)
	dl
		- each Months, Year in articles
			dt.year-label=Year
			dd.year-list: dl
				- each Articles, Month in Months
					dt.month-label=Month
					dd.month-list: ul
						- each Article in Articles
							li.article-label= Article

mixin pagination(page, list)

	if list && _.keys(list).length
		ul.pagination(data-paginator=toJson(page.paginator))

			if page.paginator.previous
				li.arrow
					a(href=page.paginator.previous.getUrl())
						span.icon-left-open-outline

			each item in list
				li(class=(item.paginator.index==page.paginator.index)?"current":"")
					a(href=item.getUrl())=item.paginator.index

			if page.paginator.next
				li.arrow
					a(href=page.paginator.next.getUrl())
						span.icon-right-open-outline

mixin related(page, list)
	each article in getRelated(page, list)
		ul: li: a(href=site.url+article.url)= article.title

mixin tags(page)
	if page.tags
		ul.sub-nav.centered.icon-tag
			each tag in page.tags
				li.secondary.radius
					a(href=getTagHome(tag))=tag



