extends page

block aside

block content-html

	.column.large-12.large-centered
		form(method='post',
			 data-module="contact-form",
			 data-apikey=mandrill.apikey||'',
			 data-subject='Contact Form Enquiry',
			 data-endpoint=mandrill.endpoint||'',
			 data-recipients=(mandrill?JSON.stringify(mandrill.recipients.contact):[]))
			input(name="name", type="text", placeholder="your name", required)
			input(name="email", type="email", placeholder="your email", required)
			textarea(name="message", placeholder="your message", rows=7, required)
			button.button.simple-outline.small(type="submit") Send

		.modal.success(data-module='modal')
			.cell
				em.icon-paper-plane
				h5 Your message has been sent.
				button.button.simple-outline.small(data-action='click', data-emit='[data-module="contact-form"]:reset') Ok

		.modal.sending(data-module='modal')
			.cell
				em.icon-cloud
				h5 Sending

		.modal.error(data-module='modal')
			.cell
				em.icon-fire
				h5 Error
					small Something went wrong whilst sending your message.
				button.button.simple-outline.small(data-action='click', data-emit='[data-module="contact-form"]:reset')  Ok

	.row
		.column.large-8.large-centered
			.textual-divider
				label Or

			.text-centered
				ul.methods.small-block-grid-2.large-block-grid-2
					li: a(href='tel:+61451075636')
						em.icon-2x.icon-mobile
						br
						| phone
					li: a(href='skype:zenobius.jiricek')
						em.icon-2x.icon-skype
						br
						| skype

					li
						script(type="text/javascript" src="https://apis.google.com/js/platform.js")
						.g-hangout(data-render="createhangout",
								   data-invites="[{id: '114829468319402504031', invite_type: 'PROFILE'}]")
