doctype html
include mixins/debug
include mixins/subtree
include mixins/gallery
include mixins/author

block vars
	- bodyclass = 'page'

html(lang='en')
	head
		block head
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
			meta(name='viewport', content='width=device-width')
			title=locals.name
			link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
			link(rel='stylesheet', media="print", href='/assets/css/print.css')
			link(rel='stylesheet', media="screen, projector", href='/assets/css/screen.css')

			include partial/analytics

	body(id=page.metadata.title, class=bodyclass)

		header.header
			block header
				include partial/header

		article#content
			block content

		footer#site-footer
			block footer
				include partial/footer

		block js
			include partial/js
