mixin timeline(articles)
	dl
		- each Months, Year in articles
			dt.year-label=Year
			dd.year-list: dl
				- each Articles, Month in Months
					dt.month-label=Month
					dd.month-list: ul
						- each Article in Articles
							li.article-label= Article

mixin pagination(page, archive)
	if archive.length > 0
		- var current = page.metadata.paginator
		ul.pagination

			li.arrow
				a(href=current.previous)
					span.icon-left-open-outline

			each page in archive
				- var meta = page.metadata.paginator
				li(class=(meta.index==current.index)?"current":"")
					a(href="#")=meta.index

			li.arrow
				a(href=current.next)
					span.icon-right-open-outline