.row
	section.text-centered.copy
		ul.sub-nav.centered
			li: a(href="http://github.com/airtonix/"): span.icon-github
			li: a(href="http://plus.google.com/zenobiusjiricek/"): span.icon-googleplus-rect
			li: a(href="http://au.linkedin.com/in/zenobiusjiricek"): span.icon-linkedin
			li: a(href="tel://+61451075636"): span.icon-mobile
			li: a(href="skype:zenobius.jiricek?call"): span.icon-skype
			li: a(href="#{site.url}/contact/"): span.icon-inbox

		p &copy; #{ new Date().getFullYear() } #{ site.owner.name }
		p: small v#{ pkg.npm.version } ( #{ new Date().toJSON().slice(0,10) } )


